Repository GluuFederation/inbound-saml: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm run test:staged:unit, npm run test:staged:integration

.lintstagedrc.json:

{ "*.ts": [
    "eslint --cache --fix"
  ],
  "*.spec.ts": [
    "npm run test:staged:unit"
  ],
  "*.test.ts": [
    "npm run test:staged:integration"
  ]
}

ci(dependabot): add configuration file
  .github/dependabot.yml
Due: none

ci(dependabot): add configuration file (#170)
  .github/dependabot.yml
Due: none

fix: log sensitive keys
  packages/sp-proxy/src/frameworks-drivers/main/config/passportMiddleware.ts
Due: eslint --cache --fix

fix(security): bump jsonwebtoken to 9.0.0
  package.json
  packages/sp-proxy/src/interface-adapters/data/helpers/JwtSigner.test.ts
  yarn.lock
Due: eslint --cache --fix, npm run test:staged:integration

fix(security): bump jsonwebtoken to 9.0.0 (#205)
  package.json
  packages/sp-proxy/src/interface-adapters/data/helpers/JwtSigner.test.ts
  yarn.lock
Due: eslint --cache --fix, npm run test:staged:integration

fix(security): bump passport-saml to 3.2.4
  package.json
  yarn.lock
Due: none

chore(dev-deps): bump eslint packages
  package.json
  yarn.lock
Due: none

chore(dev-deps): bump husky 8
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

chore(dev-deps): bump major lint-staged
  package.json
  yarn.lock
Due: none

build(dev-deps): bump latest nock
  package.json
  yarn.lock
Due: none

chore(dev-deps): bump supertest
  package.json
  yarn.lock
Due: none

chore(dev-deps): bump faker-js
  package.json
  yarn.lock
Due: none

chore(dev-deps): bump tsc-alias
  package.json
  yarn.lock
Due: none

chore(dev-deps): bump tsconfig-paths
  package.json
  yarn.lock
Due: none

chore(dev-deps): bump prettier
  package.json
  yarn.lock
Due: none

chore(dev-deps): bump typescript 4.9.4
  package.json
  yarn.lock
Due: none

chore(dev-deps): bump typescript-eslint packages
  package.json
  yarn.lock
Due: none

chore(dev-deps): bump chai
  package.json
  yarn.lock
Due: none

chore(dev-deps): bump lerna major
  package.json
  yarn.lock
Due: none

chore(dev-deps): bump typing definitions
  package.json
  yarn.lock
Due: none

build(lerna): update lerna config
  lerna.json
Due: none

chore(dev-deps): bump commitlint
  package.json
  yarn.lock
Due: none

chore(devDeps): bump eslint packages
  package.json
  yarn.lock
Due: none

refactor: use record over index signature
  packages/get-saml-metadata/src/entities/helpers/deeplyEqual.ts
  packages/get-saml-metadata/src/entities/types/ValueObject.ts
  packages/sp-proxy/src/entities/helpers/deeplyEqual.ts
  packages/sp-proxy/src/entities/types/ValueObject.ts
  packages/sp-proxy/src/interface-adapters/data/EnvReadPersistenceConfig.spec.ts
  packages/sp-proxy/src/interface-adapters/data/validators/OxTrustApiSettingsValidator.ts
Due: eslint --cache --fix, npm run test:staged:unit

refactor: remove void function from return statement
  packages/sp-proxy/src/frameworks-drivers/main/config/passportMiddleware.ts
Due: eslint --cache --fix

style: ignore no-misused-promises rule
  packages/sp-proxy/src/frameworks-drivers/main/routes/addTrFromMetadataRouter.ts
  packages/sp-proxy/src/frameworks-drivers/main/routes/authenticateCallbackRouter.ts
Due: eslint --cache --fix

refactor(server): add braces in void arrow fn
  packages/sp-proxy/src/frameworks-drivers/main/server.ts
Due: eslint --cache --fix

refactor: use object-shorthand
  packages/get-saml-metadata/features/step_definitions/getFromFile.steps.js
  packages/get-saml-metadata/src/interface-adapters/api/GetSamlMetadataFacade.ts
  packages/sp-proxy/src/entities/TrustRelation.spec.ts
  packages/sp-proxy/src/interface-adapters/api/GetTrByHostFacade.ts
  packages/sp-proxy/src/interface-adapters/data/helpers/TokenRequestFactory.ts
  packages/sp-proxy/src/interface-adapters/data/mappers/AddTrustRelationOxTrustMapper.spec.ts
  packages/sp-proxy/src/interface-adapters/data/mappers/GetTrByHostOxTrustMapper.spec.ts
  packages/sp-proxy/src/interface-adapters/delivery/CreateRemoteIdpController.spec.ts
  packages/sp-proxy/src/interface-adapters/delivery/CreateRemoteIdpPresenter.spec.ts
  packages/sp-proxy/src/use-cases/AddTrFromMetadataInteractor.ts
  packages/sp-proxy/src/use-cases/mappers/GenerateMetadataUseCaseMapper.ts
Due: eslint --cache --fix, npm run test:staged:unit

chore(devDeps): bump test related packages
  package.json
  yarn.lock
Due: none

chore(devDeps): bump typescript 4.9.4
  package.json
  yarn.lock
Due: none

chore(deps): bump fast-xml-parser 3.21.1
  package.json
  yarn.lock
Due: none

chore(deps): bump tsconfig-paths 4.1.2
  package.json
  yarn.lock
Due: none
